$social-colors: (
  facebook:     #3b5998,
  twitter:      #00aced,
  googleplus:  #dd4b39,
  github:       #333333,
  linkedin:     #007bb6,
  youtube:      #bb0000,
  vimeo:        #aad450,
  tumblr:       #32506d,
  instagram:    #517fa4,
  flickr:       #ff0084,
  vk:           #45668e,
  stumbleupon:  #EB4823,
  yahoo:        #7B0099
) !default;

@each $media, $color in $social-colors {
  .btn-#{$media} {
    color: #fff;
    background-color: $color;
    cursor: inherit;
    &:hover {
        @include opacity(.8);
    }
  }
}